<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <property name="APP_NAME" value="ritsuki-server"/>
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [traceId:%mdc{trace_id}] [%thread] [threadTraceId:%X{threadTraceId}] %-5level %logger{50} - %msg%n"/>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>"${LOG_PATTERN}"</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>


</configuration>

